<div *ngIf="auth.isAuthenticated()">

    <div class="row1">
  <h3>Top Pets</h3>
  <div class="grid grid-pad">
    <div *ngFor="let pet of pets" (click)="gotoDetail(pet)" class="col-1-4">
      <div class="module pet">
        <h4>{{pet.name}}</h4>
      </div>
    </div>
  </div>
    </div>
  
  <div class="row1">
      <div class="column1"><app-pets></app-pets> </div>
      <div class="column1"><app-pet-search></app-pet-search></div>
    </div>

    

  

    
</div>

<div *ngIf="!auth.isAuthenticated()">
    <h3>Please login to access pet store deails</h3>

</div>